# Pertemuan sesi 1 Hacktiv8

In [1]:
print("Halo Dunia!")

Halo Dunia!

In [16]:
print('Halo Dunia "tipu-tipu"')

Halo Dunia "tipu-tipu"

In [27]:
a= "AINAL"
b= 1

print(a+" "+str(b))

AINAL 1

In [29]:
a10 = 1
print(a10)

1

In [32]:
a= "ainal"
b="10"
# print(a==b)
print(a*b)

TypeError: can't multiply sequence by non-int of type 'str'

In [37]:
#list ukurannya dinamis
lis1=[1,2,3,4]
lis2 =["abc","def"]
a = "Ainal"

lis1+lis2

[1, 2, 3, 4, 'abc', 'def']

In [43]:
print(len(lis2))

2

In [46]:
print(a.substr(1,4))

AttributeError: 'str' object has no attribute 'substr'

In [53]:
del lis1[0]

lis1

[3, 4]

In [57]:
lis1
del lis1

In [59]:
dict1 = {
    'Indo': 'JKT48',
    'Japan': 'AKB48',
    'USA':'USA48'
}

dict1

{'Indo': 'JKT48', 'Japan': 'AKB48', 'USA': 'USA48'}

In [62]:
dict1['Indo'] = 'Ainal48'
dict1

{'Indo': 'Ainal48', 'Japan': 'AKB48', 'USA': 'USA48'}